table {
    color: white;
    & img{
        width: 40px;
        border-radius: 50%;
    }
    & td button{
        border: none;
        background-color: transparent;
        & nb-icon{
            color: white;
            &:hover{
                color:#ef0044;
            }
        }
    }
}
.btnLanguages button{
    background-color: transparent !important;
    border: none !important;
    & img{
        width: 30px;
    }
}
.table-hover tbody tr:hover{
    color: #eeeeee;
}